body {
    margin-left: 10px;
    max-width: 500px;
    background: #f1e3dd;
    transform: scale(2);
}

header {
    border-radius: 30px;
    background: #bccad6;
    text-align: center;
    display: block;

}

header h1{
    width: 80%;
}

nav {
    border-radius: 30px;
    float: left;
    width: max-content;
    align-content: center;
    background: #8d9db6;
}

nav a {
    display: inline-block;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
}

nav a:hover {
    background: red;
}

section {
    float: left;
    box-sizing: border-box;
    width: 65%;
}

footer {
float: left;
    box-sizing: content-box;
}

.list {
    box-sizing: content-box;
    width: auto;
    height: auto;
    padding: auto;
    border-radius: 25px;
}

aside {
    float: right;
    width: 35%;
}

img {
    border-radius: 30px;
    display: inline-block;
    width: 120%
}

figure {
    float: right;
}

h4 {
    text-indent: 30px;
}

.copyright {
    font-size: x-small;
}

header img {
    width: 32px;
    display: block;
}

.logoleft {
    float: left;
}

































/*@media screen
and (max-width: 736px)   {
    body {
        max-width: 100%;
    }
}
*/